
* {margin: 0; padding: 0;} 

.alignleft{
	text-align:right;
}

html{
	height:100%;
}

body {
	height:100%;
	background-color: #aaa; 
}
#first {
	width: 850px;  
	height: 794px; 
	background-color: #d9d9db; 
	margin: 0px auto; 
}

#head {
	width: 777px;  
	height: 91px; 
	background-color: #d9d9db; 
	margin: 0px auto; 
}

#face{
	width: 777px;  
	height: 328px; 
	background-color: #ffffff; 
	margin: 0px auto; 
	
}

#logo{
	margin: 0px auto;
	float:left;

}
#DaTa{
	margin-right:20px;
	margin-top:11px;
	color:#ff0000;
	font-size:16px;
	font-weight:bold;
	font-family:Arial;
	}
	
.LMH{
	margin-left:9px;
}
.alignleft a{
	margin-right:20px;
}
.alignleft img{
	margin-top:19px;
}

#people{
	margin-right:7px;
	margin-top:7px;
	margin-bottom:7px;
	width:539px;
	
}


#v-menu {
	margin-left:7px;
	margin-top:7px;
	float:left;
}

#v-menu a {
	text-align:right;
	background-color: #cecece;
    width:161px;
    display: block;
    padding: 23px;
	padding-right:31px;
    line-height: 16px;
    text-decoration: none;
    margin-bottom: 1px;
    color: #ffffff;
    font-family: Arial;
    border-right: 4px solid #c6c6c6;
    font-size: 110%;
}

#v-menu a:hover {
    background-color: #cc3333;
	border-right: 4px solid #993333;
}

#v-menu a span{

	float: left;
	color: #dddddd;
}

#txtbody{
	margin: 0px auto;
	width: 777px;  
	height: 300px; 	
}
#txtfirst{
	background-color:#d0d1d3;
	height:300px;
	width:226px;
	float:left;
	color: #666666;
	font-family:Arial;

}
.aaaaaa{
	padding-top:14px;
}

#txtfirst ul{
	list-style:none;
}

#txtfirst li{
	margin-top:13px;
	margin-bottom:15px;
	font-size:14px;
	margin-left:42px;
}

#txtfirst span{
	font-size:14px;
	margin-bottom:18px;
	margin-left:26px;
	color:#cc0000;
	border-left: 5px solid #cc0000;
	padding-bottom: 23px;
    padding-left: 10px;
	font-weight:bold;
}

#txtsecond{
	background-color:#d9d9db;
	height:300px;
	float:left;
	width:275px;
	color: #666666;
	font-family:Arial;
}

#txtsecond li{
	margin-top:13px;
	margin-bottom:15px;
	list-style-position:inside;
	margin-left:28px;
	font-size:12px;
}

#txtthird{
	background-color:#d9d9db;
	height:300px;
	float:left;
	width:276px;
	color: #666666;
	font-family:Arial;
}
	
#txtthird li{	
	margin-top:13px;
	margin-bottom:15px;
	list-style-position:inside;
	margin-left:28px;
	font-size:12px;
}	

#ground{
	margin: 0px auto;
	width: 777px;  
	height: 75px; 
	background-color:#babbbd;
}

.bordli{
	font-size:14px;
	margin-left:13px;
	color:#cc0000;
	border-left: 5px solid #cc0000;
	padding-bottom: 23px;
    padding-left: 10px;
	font-weight:bold;
}

#search{

	display:flex;
	justify-content:center;
	align-items:center;
	width:226px;
	height:75px;
	float:left;
	background-color:#babbbd;
}

#info{
	background-color:#babbbd;
	height:75px;
	float:left;
	width:335px;
	text-align:center;
	line-height:75px;
	color:#828387;
	font-size:14px;
	font-weight:bold;
	font-family:Arial;/*Manual Sans*/

}


#address{
	color:#828385;
	font-size:12px;
	font-weight:bold;
	font-family:Arial;

	display:flex;
	align-items:center;
	width:216px;
	height:75px;
}

.elinput{
	text-align:center;
	border:none;
	width:161px;
	height:21px;
	border-radius: 40px 40px 40px 40px;
}

input[type="text"]:focus { 
	outline: none; 
}

